<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>VIEW DETAILS</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Hobby</td>
            <td>City</td>
            <td>Message</td>
            <td>Image</td>
            <td>Action</td>
        </tr>
        <% for(var st of stdata){%>
            <tr>
                <td>
                    <%= st.name%>
                </td>


                <td>
                    <%= st.age%>
                </td>
                <td>
                    <%= st.gender%>
                </td>
                <td>
                    <%= st.hobby%>
                </td>
                <td>
                    <%= st.city%>
                </td>
                <td>
                    <%= st.message%>
                </td>
                <td>
                    <img src="<%= st.adminImage %>" height="200px">
                </td>
                <td>
                    <a href="/deleteData/<%= st.id %>">Delete</a> ||
                    <a href="/updateData/<%= st.id %>">Update</a>
                </td>
            </tr>
            <%}%>
    </table>
    <br><br><br>
    <a href="/">ADD DATA</a>

</body>

</html>